/*header stytling*/
header{
  width: 100%;
}

/*body styling*/
body{
  background: linear-gradient(AliceBlue, #0e1e3d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*title styling*/
#title{
  width: 50%;
  height: 100%;
  margin-top: 1%;
  margin-right: auto;
  margin-bottom: 1%;
  margin-left: auto;
  text-align: center;
}

#title img{
  height: 30%;
  width: 30%;
  margin: auto;
}

/*top blurb styling*/
.topBlurb{
  width: 80%;
  margin: auto;
  font-family: abel;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: WhiteSmoke;
  text-shadow: 0 0 3px DimGrey;
  text-align: center;
  border-top: 2px solid #0e1e3d;
  border-bottom: 2px solid #0e1e3d;
}

/*table sizing*/
.pictureTable{
  width: 80%;
  margin: auto;
}

/*image row arangement and sizing*/
#topRow{
  width: 100%;
  height: 49%;
  margin-top: .5%;
  margin-right: auto;
  margin-bottom: .5%;
  margin-left: auto;
}

#bottomRow{
  width: 100%;
  height: 49%;
  margin-top: .5%;
  margin-right: auto;
  margin-bottom: .0%;
  margin-left: auto;
}

/*individual image styling*/
#pic1{
  background-image: url("../img/presentation.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
#pic1:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/presentation.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

#pic2{
  background-image: url("../img/interview.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
#pic2:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/interview.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

#pic3{
  background-image: url("../img/lab_guy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
#pic3:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/lab_guy.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

#pic4{
  background-image: url("../img/showing_paperwork.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}
#pic4:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/showing_paperwork.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

#pic5{
  background-image: url("../img/medical_board.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}
#pic5:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/medical_board.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

#pic6{
  background-image: url("../img/showing_plan.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}
#pic6:hover {
  background: linear-gradient(#0e1e3d, transparent),
              url("../img/showing_plan.jpeg");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
}

/* image card styling*/
.cards{
  height: 97%;
  width: 30.33%;
  margin-top: .5%;
  margin-right: .5%;
  margin-bottom: .5%;
  margin-left: .5%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 DarkSlateGrey, 0 6px 20px 0 DarkSlateGrey;
}

/*quote styling*/
.cards p{
  opacity: 0;
  font-family: abel;
  font-size: 22px;
  color: WhiteSmoke;
  text-shadow: 0 0 3px DimGrey;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: all, 1.5s;
}

.cards h3{
    opacity: 1;
    font-family: abel;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    color: WhiteSmoke;
    text-shadow: 0 0 3px DimGrey;
    text-align: center;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2;
    transition: all, 1.3s;
    background: linear-gradient(to right, transparent, #0e1e3d , transparent);
}

/*hyperlink styling*/
a:hover h3{
  opacity: 0;
}

a:hover p{
  opacity: 1;
}


/*footer styling*/
footer{
  height: 6%;
  width: 100%;
}

/*copyright styling*/
#copyright{
  width: 79%;
  margin-top: 5%;
  margin-right: auto;
  margin-bottom: 1%;
  margin-left: auto;
  text-align: right;
}

#copyright span{
  font-family: abel;
  font-size: 20px;
  font-weight: lighter;
}

/*clear float*/
.pictureTable::after{
  content:"";
  display:block;
  clear:both;
}

/*mobile screen css*/
@media only screen and (max-width: 800px) {
  body{
    margin:0;
  }
  /*logo styling*/
  #title{
    width: 100%;
    height: auto;
  }
  #title img{
    width: 50%;
    display:block;
    margin: 0 auto;
  }

  /*blurb styling*/
  .blurb{
    width:95%;
  }

  /*align images vertically*/
  #pic1, #pic2, #pic3, #pic4, #pic5, #pic6{
    width: 95%;
    margin-top: 1%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    margin-left: 2.5%;
  }

  /*individual image styling*/
  #pic1{
    background-image: url("../img/presentation.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
  #pic1:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/presentation.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  #pic2{
    background-image: url("../img/interview.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
  #pic2:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/interview.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  #pic3{
    background-image: url("../img/lab_guy.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
    #pic3:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/lab_guy.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  #pic4{
    background-image: url("../img/showing_paperwork.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
  #pic4:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/showing_paperwork.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  #pic5{
    background-image: url("../img/medical_board.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
  #pic5:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/medical_board.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  #pic6{
    background-image: url("../img/showing_plan.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
  }
  #pic6:hover {
    background: linear-gradient(#0e1e3d, transparent),
                url("../img/showing_plan.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
  }

  /*copyright styling*/
  #copyright{
  margin-top: 10%;
  }

  /*mobile font styling*/

  .topBlurb{
    font-size: 20px;
    letter-spacing: .5px;
  }

  .cards p{
    font-size: 18px;
  }

  .cards h3{
    font-size: 22px;
    letter-spacing: 1px;
  }

  #copyright span{
    font-size: 16px;
  }

  /*clear float*/
  .pictureTable::after{
    content:"";
    display:block;
    clear:both;
  }

}
